/* footer | подвал */

.footer {
    min-height: 100px; /* задаем минимальную высоту */
    background-color: lightgreen; /* Цвет фона */
}

/* Форма отправки сообщений в чат */

.footer__form {
    display: flex; /* Задаем флекс-контейнер */
    height: 100%; /* Высота родителя */
    width: 100%; /* Ширина родителя */
}

/* Текстовое поле ввода сообщения */

.footer__form-text {
    border: 1px solid black; /* Рамка поля */
    border-radius: 5px; /* Закругляем */
    overflow-wrap: break-word; /* Задаем перенос слов */
    height: 100%; /* Задаем высоту - вся высота родителя */
    width: 80%; /* Задаем ширину 8/10 родителя */
    padding: 10px; /* Устанавливаем внутренние поля, что бы не прилипал текст к краям контейнера */
}

/* Кнопка отправки сообщения */

.footer__form-button {
    width: 20%; /* Задаем ширину */
    height: 100%; /* Задаем высоту - вся высота родителя */
    text-align: center; /* Выравниваем текст по центру */
    border: 1px solid black; /* Добавляем рамку */
    border-radius: 5px; /* Закругляем */
    transition: background-color .4s; /* Устанавливаем время перехода по ховеру */
}

/* Кнопка при наведении курсора мыши */

.footer__form-button:hover {
    background-color: green; /* Меняет цвет */
}