/* header | шапка */

.header {
    min-height: 50px; /* Задаем минимальную высоту, с возможностью увеличения */
    background-color: lightcoral; /* Цвет фона */
}

/* Меню управления */

.header__nav {
    display: flex; /* Задаем флекс контейнер */
    flex-wrap: wrap; /* Разрешаем перенос элементов */
    justify-content: flex-start; /* Элементы прижимаются к началу контейнера (слева) */
    align-content: flex-start; /* Элементы прижимаются вверх */
    row-gap: 10px; /* Устанавливаем пространство, если элементы уходят на вторую строку */
    column-gap: 20px; /* Устанавливаем пространство между элементами */
}

.header__nav-item {
    padding: 5px 5px; /* Разделяем элементы между собой и от края контейнера внутренними полями */
    transition: color .4s; /* Устанавливаем время перехода для ховера */
}

/* Меняем цвет при наведении курсора мыши на элемент */

.header__nav-item:hover {
    color: lightyellow;
}